arxiv==1.4.3
beautifulsoup4==4.12.2
fake_useragent==1.3.0
Flask==3.0.0
markdown2==2.4.10
mistune==3.0.2
numpy==1.25.1
openai==0.27.0
Pillow==10.1.0
psutil==5.9.6
PyMuPDF==1.21.1
Requests==2.31.0
tenacity==8.2.2
tiktoken==0.2.0
