arxiv==1.4.3
beautifulsoup4==4.12.2
docx==0.2.4
Flask==3.0.0
markdown2==2.4.10
matplotlib==3.7.2
mistune==3.0.2
numpy==1.25.1
openai==0.27.0
pandas==2.0.3
pdfminer==20191125
Pillow==10.1.0
PyMuPDF==1.21.1
Requests==2.31.0
selenium==4.14.0
tenacity==8.2.2
tiktoken==0.2.0
tqdm==4.65.0
