<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title>My favorite</title>
</head>

<body>
    <h1>Web favorite</h1>
    <table>
        <tr>
            <th>用户</th>
            <th>链接</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {% for favorite in web %}
        <tr>
            <td>{{ favorite.user }}</td>
            <td>{{ favorite.link }}</td>
            <td>{{ favorite.time}}</td>
            <td>
                <a href="/del_web_favor?id={{favorite.id}}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h1>literature favorite</h1>
    <table>
        <tr>
            <th>用户</th>
            <th>链接</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {% for favorite in lit %}
        <tr>
            <td>{{ favorite.user }}</td>
            <td>{{ favorite.link }}</td>
            <td>{{ favorite.time}}</td>
            <td>
                <a href="/del_lit_favor?id={{favorite.id}}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>