<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title>My history</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_history.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_header.css') }}">
</head>

<body>
    <header class="header">
        <a class="logo" href="{{ url_for('index_ctrl.index') }}">Logo</a>

        <!-- 用户容器包括用户图标和用户名 -->
        <div class="user-container">
            <div class="user-icon">
                {{ username[0] }}
            </div>
            <div class="username">
                {{ username }}
            </div>

            <!-- 用户浮窗 -->
            <div class="user-popup">
                <a href="{{ url_for('relation_ctrl.favorites', username=username) }}">我的收藏</a>
                <a href="{{ url_for('relation_ctrl.history', username=username) }}">历史记录</a>
                <a href="{{ url_for('relation_ctrl.judge', username=username) }}">用户反馈</a>
                <a href="{{ url_for('auth_ctrl.logout', username=username) }}">退出登录</a>
            </div>
        </div>
    </header>
    <table>
        <tr>
            <th>链接</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {% for history in web %}
        <tr>
            <td>
                <a
                    href="{{ url_for('result_ctrl.browse', url = history.link, search_type = 'web', username = username) }}">{{
                    history.link }}</a>
            </td>
            <td>{{ history.time}}</td>
            <td>
                <a href="/del_web?id={{history.id}}&username={{username}}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h1>literature history</h1>
    <table>
        <tr>
            <th>链接</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {% for history in lit %}
        <tr>
            <td>
                <a
                    href="{{ url_for('result_ctrl.browse', url = history.link, search_type = 'literature', username = username) }}">{{
                    history.link }}</a>
            </td>
            <td>{{ history.time}}</td>
            <td>
                <a href="/del_lit?id={{history.id}}&username={{username}}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>