<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title>My history</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_history.css') }}">
</head>

<body>
    <h1>Web history</h1>
    <a href="{{ url_for('index_ctrl.index') }}">回到首页</a>
    <a href="{{ url_for('auth_ctrl.logout', username=username) }}">退出登录</a>
    <table>
        <tr>
            <th>链接</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {% for history in web %}
        <tr>
            <td>
                <a
                    href="{{ url_for('result_ctrl.browse', url = history.link, search_type = 'web', username = username) }}">{{
                    history.link }}</a>
            </td>
            <td>{{ history.time}}</td>
            <td>
                <a href="/del_web?id={{history.id}}&username={{username}}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h1>literature history</h1>
    <table>
        <tr>
            <th>链接</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {% for history in lit %}
        <tr>
            <td>
                <a
                    href="{{ url_for('result_ctrl.browse', url = history.link, search_type = 'literature', username = username) }}">{{
                    history.link }}</a>
            </td>
            <td>{{ history.time}}</td>
            <td>
                <a href="/del_lit?id={{history.id}}&username={{username}}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>