<!-- manage.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_manage.css') }}">
    <title>User Management</title>
</head>
<body>
    <h1>用户管理</h1>
    <a href="{{ url_for('manage_ctrl.manage') }}">回到首页</a>
    <a href="{{ url_for('auth_ctrl.login') }}">退出登录</a>
    <table>
        <tr>
            <th>用户名</th>
            <th>权限</th>
            <th>操作</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.permission }}</td>
            <td>
                <form method="post" action="{{ url_for('manage_ctrl.logout_user') }}">
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <button type="submit">注销</button>
                </form>
                <form method="post" action="{{ url_for('manage_ctrl.update_permission') }}">
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <select name="new_permission">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                    <button type="submit">修改</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
