<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_manage.css') }}">
    <title>User Feedback</title>
</head>
<body>
    <h1>用户反馈</h1>
    <a href="{{ url_for('manage_ctrl.manage') }}">回到首页</a>
    <a href="{{ url_for('auth_ctrl.login') }}">退出登录</a>
    <table>
        <tr>
            <th>发送者</th>
            <th>时间</th>
            <th>内容</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message.sender }}</td>
            <td>{{ message.time }}</td>
            <td>{{ message.content }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
