<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_summary.css') }}">
    <title>文献总结</title>
</head>
<body>
    <a href="{{ url_for('index_ctrl.index') }}">回到首页</a>
    <div class="container">
        <div class="pdf-panel">
            <iframe src="{{ url_for('summary_ctrl.pdf', filename=paper_filename) }}" style="width:100%; height:100%;" frameborder="0">
                <p>无法加载 PDF 文件。请检查文件路径或 <a href="{{ url_for('summary_ctrl.pdf', filename=paper_filename) }}">下载 PDF 文件</a> 并在外部查看。</p>
            </iframe>
        </div>
        <div class="right-panel">
            <div class="markdown-content">
                {{ summary_content | safe }}
            </div>
        </div>
    </div>
</body>
</html>
