<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_summary.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_header.css') }}">
    <title>文献总结</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="{{ url_for('index_ctrl.index') }}">搜索分析平台</a>

        <!-- 用户容器包括用户图标和用户名 -->
        <div class="user-container">
            <div class="user-icon">
                {{ username[0] }}
            </div>
            <div class="username">
                {{ username }}
            </div>

            <!-- 用户浮窗 -->
            <div class="user-popup">
                <a href="{{ url_for('relation_ctrl.favorites', username=username) }}">我的收藏</a>
                <a href="{{ url_for('relation_ctrl.history', username=username) }}">历史记录</a>
                <a href="{{ url_for('relation_ctrl.judge', username=username) }}">用户反馈</a>
                <a href="{{ url_for('auth_ctrl.logout', username=username) }}">退出登录</a>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="pdf-panel">
            <iframe src="{{ url_for('summary_ctrl.pdf', filename=paper_filename) }}" style="width:100%; height:100%;" frameborder="0">
                <p>无法加载 PDF 文件。请检查文件路径或 <a href="{{ url_for('summary_ctrl.pdf', filename=paper_filename) }}">下载 PDF 文件</a> 并在外部查看。</p>
            </iframe>
        </div>
        <div class="right-panel">
            <div id="content-container">
                <div class="markdown-content">
                    <div id="summary-content">{{ summary_content | safe }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var summary_filename = decodeURIComponent("{{ summary_filename }}");
        function pollSummary() {
            // 发送一个Ajax请求到后端，请求是否生成完毕
            if (summary_filename !== "") {
                $.get('/check_summary?summary_filename=' + summary_filename, function(data) {
                    if (data.generated) {
                        // 如果生成完毕，更新页面内容
                        $("#summary-content").html(data.summary_content);
                    } else {
                        // 如果未生成完毕，继续轮询
                        setTimeout(pollSummary, 5000);
                    }
                });
            }
            
        }
        
        // 初始化轮询
        pollSummary();
    </script>
</body>
</html>
