.user-container {
    display: flex;
    align-items: center;
    margin-right: 40px; /* 用于添加间距 */
    
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: #0078d4;
    color: #fff;
    border-radius: 50%; /* 将图标变成圆形 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px; /* 用于添加间距 */
    margin-top: 10px; /* 添加上边距 */
    margin-bottom: 10px; /* 添加下边距 */
}

.username {
    font-weight: bold;
    color: #000;
}

/* 用户浮窗样式 */
.user-popup {
    position: absolute;
    top: 60px;
    right: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    align-items: center;
}

.user-popup a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
    text-align: center; /* 居中文字 */
}

.user-popup a:hover {
    color: #0078d4;
}

/* 添加动画效果 */
.user-container:hover .user-popup {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header 样式 */
.header {
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}
