

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    color: #0078d4;
    margin: 20px 0;
}

.logout-link {
    text-decoration: none;
    color: #0078d4;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    margin: 10px 0;
}

.menu-list a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-list a:hover {
    background-color: #0056b3;
}
